body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}
